@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control {
  box-shadow: none;
  background-color: inherit;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.margin-left-8 {
  margin-left: 6px;
}

.border-bottom{
  border-bottom: 1px solid var(--color-7e9ec9);
}
.d-block{
  display: block;
}
.d-none{
  display: none;
}

.button{
  padding: 10px 20px;
  border-radius: 26px;
  background-color: var(--color-101e31);
  color: white;
  border: 1px solid var(--color-101e31);
  cursor: pointer;
}

.button-inverse{
  min-width: fit-content;
  padding: 10px 20px;
  border-radius: 26px;
  color: var(--color-101e31);
  background-color: var(--color-febd69);
  border: 1px solid var(--color-febd69);  
  cursor: pointer;
}

.button:hover{
  color: var(--color-101e31);
  background-color: white;
  border: 1px solid var(--color-101e31);
}
.button-inverse:hover{
  color: var(--color-febd69);
  background-color: var(--color-101e31);
  border: 1px solid var(--color-101e31);
}

.auth-error{
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -16px;
  padding-left: 6px;
}

.transparent-background {
  background-color: transparent !important;
}


:root {
  --color-101e31: #101e31;
  --color-7e9ec9: #7e9ec9;
  --color-febd69: #febd69;
  --color-1676f4: #1676f4;
  --color-c9715c: #c9715c;
  --color-f5f5f7: #f5f5f7;
  --color-a3a19c: #a3a19c;

}

/* Header CSS */
.header-top-stripe {
  background-color: var(--color-101e31);
  border-bottom: 1px solid var(--color-7e9ec9);
}

.header-upper {
  background-color: var(--color-101e31);
  border-bottom: 1px solid var(--color-7e9ec9);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-lower {
  background-color: var(--color-1676f4);
  border-bottom: 1px solid var(--color-7e9ec9);
}

.header-lower .dropdown{  
  border-right: 1px solid var(--color-101e31);
}
.header-lower .dropdown-menu{  
  background-color: var(--color-101e31);
  transform: translate3d(0px,55px,0px) !important;
}
.header-lower .dropdown-menu a{  
  color: white;
}
.header-lower .dropdown-item{  
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-7e9ec9);
}
.header-lower .dropdown-item:hover{  
  background-color: transparent;
  color: var(--color-febd69) !important;
}
.header-lower .dropdown button{
  padding-left: 0;
  padding-right: 20px;
}

.header-lower .menu-links a,
.header-lower .dropdown button {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-lower .dropdown button:focus {
  box-shadow: none;
}

/* Header Completed */

/* Footer CSS */

footer{
  background-color: var(--color-101e31);
  color: white;
}

footer:not(:first-child){
  border-top: 1px solid var(--color-7e9ec9);
} 

.footer-upper{
  width: 600px;
}

.news-signup-footer{
  width: 600px;
}
#subscribe{
  background-color: var(--color-101e31);
  color: white;
  border-radius: 4px;
}

.link-menu-footer {
  width: fit-content;
}
/* Footer CSS Completed */

/* Home CSS */

/* home-wrapper-1 */
.main-banner-content{
  top:20%;
  left: 10%;
}
.main-banner-content > :first-child{
  color: var(--color-c9715c);
}
.banner-button{
  background-color: var(--color-101e31);
}
.banner-button:hover{
  background-color: var(--color-1676f4);
}

.small-banner-container{
  flex-wrap: wrap;
}

.small-banner-content{
  top:16%;
  left: 10%;
}

.small-banner-content h6{
  font-size: 12px;
}

.small-banner-content h4{
  font-size: 20px;
}

.small-banner-content .banner-button{
  height: 30px;
  width: 76px;
  font-size: 14px;
  padding: 0;
}

.small-banner-content > :first-child{
  color: var(--color-c9715c);
}

/* home-wrapper-2 */

.home-wrapper-2, .home-wrapper-3, .home-wrapper-4, .home-wrapper-5{
  background-color: var(--color-f5f5f7);
}

.service > :first-child{
  color: var(--color-101e31)
}
.service b{
  color: var(--color-101e31);
}

.service p{
  color: var(--color-7e9ec9);
}

.service-icon{
  font-size: 46px;
}

.categories{
  background-color: white;
  box-shadow: 0 0 10px #edeeec;
  
}

.categories > div {
  height: 90px;
  font-size: 12px;
  cursor: pointer;
}
.categories > div:not(:last-child){
  border-right: 2px solid var(--color-f5f5f7)
}

.product-card-container{
  height: 380px;
}
.product-card-container::-webkit-scrollbar{
  display: none;
}

/* home-wrapper -2 CSS ends */



/* featured product css starts */

.feature-card-container{
  height: fit-content;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}

.feature-card-container::-webkit-scrollbar{
  display: none;
}

.featured-card{
  min-width: 300px;
  height: 360px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .3s ease;
  overflow: hidden;
}

.feature-card-container>a:first-child{
  border-radius: 8px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
  border: none;
}
.feature-card-container>a:first-child > div{
  color: white;
  background-color: black;
}

.featured-image-container{
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
}

.featured-image-container > img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


/* featured product css ends */


/* featured product css starts */

.special-card-container{
  height: fit-content;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}

.special-card-container::-webkit-scrollbar{
  display: none;
}

.special-card{
  min-width: 50% !important;
  height: fit-content;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  transition: all .3s ease;
  overflow: hidden;
}

.special-image-container{
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
}
.special-image:first-child(){
  display: block;
}
.special-image:not(:first-child){
  display: none;
}
.special-card:hover .special-image:last-child{
  display: block;
}
.special-card:hover .special-image:first-child{
  display: none;
}

/* featured product css ends */



/* Product Card CSS */
.home-wrapper-5 .product-card,
.popular-product-wrapper .product-card{
  width: 240px; 
  height: 364px; 
  border: 1px solid var(--color-f5f5f7);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .3s ease;
  background-color: white;
  overflow: hidden;
}

.single-popular-product-wrapper .product-card{
  width: 240px; 
  height: 370px; 
  border: 1px solid var(--color-f5f5f7);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .3s ease;
  background-color: white;
  overflow: hidden;
}

.home-wrapper-5 .product-cardproduct-card-container:hover{
  width: 250px;
  min-height: 375px;
}
.product-card:hover{
  box-shadow: 0 0 3px var(--color-7e9ec9);
}

.product-image-container{
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
}

.product-image .no-product-image{
  width: 100%;
  aspect-ratio: 1;
  background-image: url("https://wsssindia.in/images/no_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-image{
  width: 100%;
  aspect-ratio: 1;
}

.product-image:last-child{
  display: none;
}
.product-card:hover .product-image:last-child{
  display: block;
}
.product-card:hover .product-image:nth-child(1){
  display: none;
}
.product-desc > company{
  line-height: 28px;
  letter-spacing: 0.3;
  color: var(--color-c9715c);
}

.home-wrapper-5 > .star-rating, .home-wrapper-5 > .product-name, .home-wrapper-5 > .product-price {
  padding: 8px;
}

.home-wrapper-5 .product-card:not(:last-child){
  margin-right: 24px;
}

.home-wrapper-5  p{
  font-size: 16px;
  margin-top: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.action-menu{
  width: 50px;
  height: 100px;
  right: -50px;
  top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.action-menu > span {
  width: 28px;
  height: 28px;
  font-size: 16px;
   border-radius: 50%;
}
.action-menu-icon{
  color:black;
}
.action-menu > span:hover {
  background-color: var(--color-c9715c);
  transition: all 0.3s  ease;
}

.action-menu-icon:hover{
  color:white;
  transition: all 0.3s  ease;
}

.product-card:hover .action-menu{
  right:0;
  transition: all 0.2s ease-in-out;
}
/* Home CSS Completed */

/* Our Store CSS */

.store-wrapper{
  background-color: var(--color-f5f5f7);
}
.filter-card{  
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 0 1px #101e31;
}
.filter-card:not(:last-child){
  margin-bottom: 16px;
}

.filter-card ul {
  list-style-type: none;
  color: var(--color-a3a19c);
}
.color-pallete{
  gap: 8px;
}

.color-pallete div{
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.product-tag-filter button{
  font-size: 14px;
  font-weight: 400;
  color: black;
  border: 0;
  background-color: var(--color-a3a19c);
}
.filter-card .recent-product{
  border: 1px solid var(--color-a3a19c);
  border-radius: 5px;
}
.filter-card .product-desc .product-name{
  font-size: 14px;
}

.sort-product-order{
  border: 1px solid var(--color-a3a19c);
  border-radius: 3px;
}

.alignment-icons{
  height: 36px;
  width: 36px;
  border-radius: 10px;
  border: 1px solid var(--color-7e9ec9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignment-icons:hover{
  color: white;
  background-color: var(--color-101e31);
}
.icon-selection{
  color: white;
  background-color: var(--color-101e31);
}

.store-wrapper .product-card{
  border:  1px solid var(--color-f5f5f7);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .3s ease;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}
.store-wrapper .favourite{
  position: absolute;
  cursor: pointer;
  top:16px;
  right: 16px;
  z-index: 9;
}

.store-wrapper company{
  margin: 0;
}
.store-wrapper > div, .store-wrapper > .star-rating, .store-wrapper > .product-name, .store-wrapper > .product-price {
  padding: 0;
}

.store-wrapper  p{
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 600;
}
.store-wrapper  description{
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
  text-align: left;
  color: var(--color-a3a19c);
}

.button-container {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  gap: 10px;
}

/* Grid with 4 columns */
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Grid with 2 columns */
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Grid with 1 column */
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}





/* Our Store CSS Completed */


/* Conatct CSS */

.contact-inner-wrapper{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1px var(--color-101e31);

}

.contact-form{
  width: 600px;
  background-color: var(--color-f5f5f7);
  border-radius: 6px;
}

.submit-button-contact{
  width: 160px;
  height: 40px;
  background-color: var(--color-101e31);
  color: white;
}
.submit-button-contact:hover{
  color: var(--color-101e31);
  background-color: white;
  border: 1px solid var(--color-101e31);
}

.contact-details{
  width: 650px;
  background-color: var(--color-f5f5f7);
  border-radius: 6px;
}

/* Contact CSS ends */


/* Compare CSS */

.close-icon-compare{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}

.compare-product-column{
  width: 300px;
}
.specs-compare{
  border-bottom: 1px solid var(--color-7e9ec9);
}
.compare-product-availability{
  color:green;
}

.color-option-compare> div{
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
/* Compare CSS ends */


/* Wishlist CSS */
.wishlist-wrapper{
  background-color: var(--color-f5f5f7);
}

.product-container-wishlist{
  height: fit-content;
  background-color: white;
  box-shadow: 0 0 1px var(--color-101e31);
}

.remove-product-wishlist{
  width: 20px;
  padding-inline: 3px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 10px;
  border-radius: 2px;
  color: var(--color-101e31);
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-product-wishlist:hover{
  color: white;
  background-color: var(--color-101e31);
  transition: all 0.3s ease-in-out;
}

.product-details-wishlist h6{
  font-size: 12px;
  color: black;
  font-weight: 400;
}

.product-details-wishlist h5{
  font-size: 12px;
  font-weight: 500;
}

.product-details-wishlist p{
  font-size: 12px;
  font-weight: 400;
  color: rgb(48, 190, 48);
}

.product-details-wishlist h4{
  font-size: 16px;
  font-weight: 500;
}

/* Wishlist CSS ends */


/* Log In CSS */

.auth-wrapper{
  background-color: var(--color-f5f5f7);
}

.auth-card{
  width: 500px;
  box-shadow: 0 0 1px var(--color-101e31);
  border-radius: 10px;
  background-color: white;
}

.auth-card input{
  height: 44px;
  background-color: var(--color-f5f5f7);
  font-size: 14px;
  border: 0;
}

.signup{
  color: white; 
}

.auth-card > Link.signup:hover{
  color: var(--color-101e31);
  background-color: white;
  border: 1px solid var(--color-101e31);
}

.password-eye-auth{
  position: absolute;
  right: 12px;
  top: 4px;
  font-size: 22px;
}


/* Log In CSS ends */



/* Single Product CSS */

.product-details-product{
  width: 100%;
}

.images-product{
  width: 55%;
  height: fit-content;
  position: sticky;
  top: 0;
}

.main-image-viewer{
  width: 90%;
  aspect-ratio: 1;
  border: 1px solid var(--color-f5f5f7);
  border-radius: 3px;
}

.main-image-viewer .image-zoom{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-icon-product{
  display: flex;
  align-items: center;
  gap:  4px;
}

.image-icon-product span{
  color: var(--color-7e9ec9);
}

.image-icon-product:hover{
  cursor: pointer;
}
.images-product{
  z-index: 9;
}

.sub-image-viewer{
  height: 600px;
  width: fit-content;
  overflow-y: auto;
  padding: 0 10px;
}

.image-gallery-viewer{
  height: fit-content;
  display: flex;  
  flex-direction: column;
  gap: 10px;
  height: 110px;
}
.image-gallery-viewer img{
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-f5f5f7);
  cursor: pointer;
}

/* Width of scrollbar */
.sub-image-viewer::-webkit-scrollbar {
  width: 2px;
}

/* Track (background of scrollbar) */
.sub-image-viewer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
.sub-image-viewer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sub-image-viewer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.description-product{
  width: 45%;
}

.star-container, svg.widget-svg,  path.star{
  z-index: 1;
}

.color-circle{
  cursor: pointer;
}

.description-product table th{
  width: 120px;
  display: flex;
  align-items: flex-start;
}

.tags-product{
  padding: 4px 16px;
  background-color: var(--color-f5f5f7);
  color: black;
  border-radius: 16px;
  font-size: 14px;
}

.other-details-product p{
  font-size: 14px;
}

.reviews{
  box-shadow: 0 0 1px var(--color-101e31);
}

.show-overall-review{
  justify-content: space-between;
}

.write-review-button{
  width: 170px;
}
.reviews > div:not(:last-child){
  border-bottom: 0 0 1px var(--color-7e9ec9);
}
.response-review{
  width: 94%;
  margin-left: 6%;
}
.write-review-product{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  right: 0;
  top:0;
  z-index: 9;
  overflow: auto;
  justify-content: flex-end;
}
.review-container{  
  height: 100vh;
  width: 460px;
  background-color: #101e31;
  color: white;
}
.write-review-product input, .write-review-product textarea{
  color: white;
}
.write-review-product input:focus, .write-review-product textarea:focus{
  color:var(--color-101e31);
  background-color: white;
}

.close-write-review{
  cursor: pointer;
}


/* Single Product CSS ends */





/* Cart CSS */

.cart-container{
  width: 100%;
}

.all-products-cart{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card-cart,.product-card-cart{
  width: 100%;
}
.product-card-cart img{
  width: 240px;
  height: 240px;
}

.product-name-cart{
  font-size: 22px;
}
.product-desc-cart{
  font-size: 14px;
}

.control-button-cart> div{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 12px;
}
.control-button-cart> div:not(:first-child){
  padding-left: 12px;
}
.control-button-cart> div:not(:last-child){
    border-right: solid 1px #000;
}
.price-total-cart{
  width: 25%;
  height: fit-content;
  border: 1px solid var(--color-7e9ec9);
  border-radius: 10px;
}
.subtotal-card-cart{
  font-size: 1.1rem;
  font-weight: 700;
}
.control-card-cart{
  display: flex;
}
.control-outside-card-cart{
  display: none;
  justify-content: center;
}

/* Cart CSS ends */


/* Checkout CSS */
.checkout-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.checkout-wrapper .container-xxl{
  min-height: 500px;
}

.left-content-checkout{
 width: 50%;
}

.right-content-checkout{
width: 50%;
height: fit-content;
background-color: var(--color-f5f5f7);
border-radius: 10px;
}

.left-content-checkout input, .left-content-checkout label,.left-content-checkout select {
  font-size: 14px;
  height: fit-content;
}

.product-review-checkou img{
  border-radius: 10px;
}

.product-name-checkout{
  font-size: 14px;
}
.product-color-checkout{
  font-size: 12px;
}
/* Checkout CSS ends */



/* Order CSS  */

.order-description{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

.order-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-f5f5f7);
}

.order-id{
  font-size: 14px;
  font-weight: 500;
}

.order-id span{
  font-size: 12px;
}

.order-status{
  font-size: 14px;
  font-weight: 500;
  padding-right: 8px;
  text-align: right;
}

.order-status span{
  font-size: 12px;
}

.shipping-details{
  font-size: 14px;
  font-weight: 500;  
  padding-bottom: 4px;
}

.shipping-details b{
  font-size: 14px;
}
.payment-details{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-f5f5f7);

}

.payment-id span{
  font-size: 12px;
}
.payment-id {
  font-size: 14px;
}

.total-amount{
  text-align: center;
}

.discounted-amount{
  text-align: right;
}

/* Order CSS Ends */






@media only screen and (max-width: 900px) {
 .cart-container{
  flex-direction: column;
 } 
 .all-products-cart, .price-total-cart{
  width: 100%;
 }
}

@media only screen and (max-width: 768px) {
  .menu-container > div:not(:last-child){
    display: none;
  }
  .menu-container > div{
    display: flex;
    justify-content: flex-end;
  }
  .large-banner-container{
    display: none;
  }
  .card-images-footer{
    display: none;
  } 
  .footer-upper{
    justify-content: center;
    width: 100%;
  } 
  .news-letter-footer{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .news-signup-footer{
    width: 100%;
  }
  .link-menu-footer {
    width: 100%;
  }
  .link-menu-footer h4{
    text-align: center;
    margin-top: 20px;
  }
  .footer-links{
    align-items: center;
  }
  address{
    text-align: center;
  }
  .site-details-footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .show-overall-review{
    gap: 20px;
    flex-direction: column;
  }
  .product-card-cart img{
    width: 120px;
    height: 120px;
  }
  .control-card-cart{
    display: none;
  }
  .control-outside-card-cart{
    display: flex;
  }
  .checkout-container{
    flex-wrap: column-reverse;
  }
  .left-content-checkout{
    width: 100%;
  } .right-content-checkout{
    width: 100%;
  }
}

@media only screen and (max-width: 1220px) {
  .menu-text{
    display: none;
  } 
  .banner-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .large-banner-container{
    width: fit-content;
  }
  .small-banner-container{
    width: 60%;
    flex-wrap: wrap;
  } 
  .product-details-product{
    flex-wrap: wrap;
  }
  .images-product{
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    gap: 0;
  }
  .sub-image-viewer{
    height: fit-content;
    width: 100%;
    overflow-x: auto;
    padding: 0 10px;
  }  
  .image-gallery-viewer{
    display: flex;  
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    height: fit-content;
    margin-bottom: 20px;
  }
  .main-image-viewer{
    height: fit-content;
    aspect-ratio: 0;
  }
  .description-product{
    width: 100%;
    align-items: center;
  }
  .product-card-list{
    overflow-x: scroll;
  }
  .product-card-container{
    width: fit-content;
    column-gap: 10px;
  }
}
